* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Color styles */
    --bg-navbar: #0084FD;
    --bg-purple: #9792E4;
    --bg-card: #B5DDFF;
    --bg-main-white: #FFFFFF;
    --text-gold: #FDC15F;
    --dark-color: #333333;
    --text-gray: #687F93;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'PT Sans', sans-serif;
}

li {
    list-style: none;
    display: none;
}

/* TOOLS */
.container {
    padding: 15px;
    max-width: 1200px;
    margin: 0 auto;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
}
.text-center {
    text-align: center;
}

p {
    line-height: 1.5rem;
    padding: 1.3rem;
}

/* BOTTONI */
.btn {
    padding: 14px 40px;
    border-radius: 20px;
    color: var(--bg-main-white);
    text-decoration: none;
    display: block;
    width: fit-content;
}
.btn-blue{
    background-color: var(--bg-navbar);
}
.btn-purple{
    background-color: var(--bg-purple);
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: .2rem;
}
/* HEADER */
header {
    background-color: var(--bg-navbar);
    color: var(--bg-main-white);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 80px;
}

/* MAIN */
.even {
    background-color: var(--bg-purple);
}

main {
    margin-top: 80px;
}

/* CARD */
.card {
    background-color: var(--bg-card);
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 10px 10px 0px 10px;
}

.card .btn {
    margin: 50px;
}

.card img {
    width: 100%;
    margin-bottom: 0;
}

.card h3 {
    color: var(--bg-navbar);
    text-align: left;
    margin-left: 20px;
    text-align: center;
}

.card p {
    color: var(--text-gray);
    text-align: left;
}

.card i {
    font-size: 2.5rem;
    color: var(--bg-navbar);
    padding: 10px;
}

/* PLANNING */
#planning {
    color: var(--bg-main-white);
    padding: 30px;
}

#planning img {
    width: 100%;
}
#planning h2{
    text-align: left;
    margin-left: 10px;
    font-size: 2rem;
    padding: 20px;
}

.developement {
    background-color: var(--bg-main-white);
    color: var(--dark-color);
    border-radius: 40px;
    padding: 40px;
}

.developement img{
    width: 100%;
}

.developement p{
    line-height: 1.8rem;
    padding: 10px;
}
.developement h3{
    font-size: 1rem;
    padding: 20px;
}

.download {
    background-color: var(--bg-purple);
    padding: 10px 15px;
    border-radius: 50%;
}
/* PARTNER */
#partner h3{
    color: var(--bg-purple);
    font-size: 2rem;
    margin: 15px;
}
#partner h5{
    font-size: 1.5rem;
    letter-spacing:1.6px;

}
.card-partner{
    background-color: var(--bg-purple);
    border-radius: 40px;
    padding: 20px;
    color: var(--bg-main-white);
    margin: 30px;
}
.box-partner{
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    text-align: center;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.box-partner img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}


/* BENEFITS */

#benefit h2{
    color: var(--bg-main-white);
    padding: 50px;
}

.card-benefits{
    background-color: var(--bg-main-white);
    color: var(--text-gray);
    border-radius: 40px;
    padding: 20px;
    margin-top: 40px;
}
.n-benefit{
    font-size:  3rem;;
   
}
.n-benefit, h3{
    color: var(--bg-purple);
    padding: 5px;
    text-align: left;
}

/* PERSOLAN INFO */
.personal-info{
    padding: 40px;
}
.personal-info h2{
    color: var(--bg-purple);
    margin-left: 15px;
    padding: 10px;
}
.personal-info .box-partner{
    margin-left: 15px;
}
.personal-info p{
    word-spacing: 0.5rem;
}
.personal-info .btn{
    width: fit-content;

}
/* FREE TRIAL  */
#free-trial span:first-child{
    color: var(--text-gray);
}
#free-trial span:last-child{
    color: var(--bg-main-white);
    padding: 20px;
}
#free-trial a{
    color: var(--bg-main-white);

}
#free-trial h3{
    color: var(--bg-main-white);
    font-size: 1.7rem;
}
#free-trial h2{
    color: var(--text-gold);
    font-size: 2rem;
}
#free-trial p{
    color: var(--bg-main-white);
    padding: 10px;
}
#free-trial .btn{
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    background-color: var(--bg-main-white);
    color: var(--bg-purple);
    border-radius: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
 
}




/* FOOTER */


footer {
    background-color: var(--dark-color);
}



/* MEDIA */
@media screen and (min-width:768px) {
    .container{
        max-width: 750px;
    }
    .d-flex {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 10px;
    }
    #intro .card{
        width: calc((100% / 3) - 10px );
    }
    #intro .card:first-child{
        width: calc((100% / 3) - 10px );
    }

}